In [ ]:
%pip install google-api-python-client google-auth-httplib2 google-auth-oauthlib

In [5]:
%pip install sheets

Requirement already satisfied: sheets in c:\users\rangh\appdata\local\programs\python\python313\lib\site-packages (0.6)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
%pip install gspread

In [7]:
import gspread
from google.oauth2.service_account import Credentials

In [8]:
scopes = ['https://www.googleapis.com/auth/spreadsheets',
          'https://www.googleapis.com/auth/drive']
creds = Credentials.from_service_account_file("credentials.json", scopes=scopes)
client = gspread.authorize(creds)
sheet_id="1I5cuGnP7XMDNPwzhV2w7o0ow3vytBSfsnZe9RXwiBDk"
sheet = client.open_by_key(sheet_id)
worksheet = sheet.get_worksheet(0)  # Get the first worksheet
value_list = worksheet.get_all_values()
print(value_list)

[['intro1', 'ddt', 'Retailor', 'Stat', 'Cit', 'Mkt', 'prod', 'prod/1', 'prod/2', 'sorc', 'sorc/1', 'sorc/2', 'sorc/3', 'sorc/4', 'sorc/5', 'sorc/6', 'sorc/7', 'col', 'C14_1', 'C14_1/1', 'C14_1/2', 'C14_1/3', 'C14_1/4', 'Tin_1', 'Bucket_1', 'wooden_1', 'basket_1', 'C14_2', 'C14_2/1', 'C14_2/2', 'C14_2/3', 'C14_2/4', 'Tin_2', 'Bucket_2', 'wooden_2', 'basket_2', 'C14_3', 'C14_3/1', 'C14_3/2', 'C14_3/3', 'C14_3/4', 'Tin_3', 'Bucket_3', 'wooden_3', 'basket_3', 'C14_4', 'C14_4/1', 'C14_4/2', 'C14_4/3', 'C14_4/4', 'Tin_4', 'Bucket_4', 'wooden_4', 'basket_4', 'C14_5', 'C14_5/1', 'C14_5/2', 'C14_5/3', 'C14_5/4', 'Tin_5', 'Bucket_5', 'wooden_5', 'basket_5', 'C14_6', 'C14_6/1', 'C14_6/2', 'C14_6/3', 'C14_6/4', 'Tin_6', 'Bucket_6', 'wooden_6', 'basket_6', 'C14_7', 'C14_7/1', 'C14_7/2', 'C14_7/3', 'C14_7/4', 'Tin_7', 'Bucket_7', 'wooden_7', 'basket_7', 'Incres', 'Reason', 'Comm', 'C14', 'C14/1', 'C14/2', 'C14/3', 'C14/4', 'Tin', 'Bucket', 'wooden', 'basket', 'C14_001', 'C14_001/1', 'C14_001/2', 'C14_001/3', 'C14_001/4', 'Tin_001', 'Bucket_001', 'wooden_001', 'basket_001', 'C14_002', 'C14_002/1', 'C14_002/2', 'C14_002/3', 'C14_002/4', 'Tin_002', 'Bucket_002', 'wooden_002', 'basket_002', 'C14_003', 'C14_003/1', 'C14_003/2', 'C14_003/3', 'C14_003/4', 'Tin_003', 'Bucket_003', 'wooden_003', 'basket_003', 'C14_004', 'C14_004/1', 'C14_004/2', 'C14_004/3', 'C14_004/4', 'Tin_004', 'Bucket_004', 'wooden_004', 'basket_004', 'C14_005', 'C14_005/1', 'C14_005/2', 'C14_005/3', 'C14_005/4', 'Tin_005', 'Bucket_005', 'wooden_005', 'basket_005', 'C14_006', 'C14_006/1', 'C14_006/2', 'C14_006/3', 'C14_006/4', 'Tin_006', 'Bucket_006', 'wooden_006', 'basket_006', '_id', '_uuid', '_submission_time', '_validation_status', '_notes', '_status', '_submitted_by', '__version__', '_tags', '_index'], ['', '7/3/2025', 'Test', '1', '1', '4', '45659', '1', '1', '1 2 3 4 5 6 7', '1', '1', '1', '1', '1', '1', '1', '2', '1 2 3 4', '1', '1', '1', '1', '25', '23', '88', '66', '1 2 3 4', '1', '1', '1', '1', '32', '82', '36', '100', '1 2 3 4', '1', '1', '1', '1', '823', '852', '66', '52', '1 2 3 4', '1', '1', '1', '1', '22', '66', '24', '25', '1 2 3 4', '1', '1', '1', '1', '22', '36', '125', '352', '1 2 3 4', '1', '1', '1', '1', '21', '35', '254', '365', '1 2 3 4', '1', '1', '1', '1', '365', '21', '321', '25', '0', '', 'Tygg', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '511049347', '6bda8868-9fee-4a3b-8358-646cc1523a22', '45843.50233', '', '', 'submitted_via_web', '', 'vryeMfHZRgWT9dBVaGatin', '', '1'], ['', '7/4/2025', 'Test 2', '1', '2', '6', '1', '1', '0', '45661', '1', '0', '0', '1', '0', '0', '0', '', '45659', '1', '1', '0', '0', '25', '99', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '45660', '1', '0', '1', '0', '55', '', '802', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '0', '', 'Eehe', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '511081241', 'd67419ca-13b3-4084-b977-9c12ef2643bf', '45843.55475', '', '', 'submitted_via_web', '', 'vryeMfHZRgWT9dBVaGatin', '', '2'], ['', '', 'Ato', '1', '1', '4', '2', '0', '1', '', '', '', '', '', '', '', '', '1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '1', 'Too expensive', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '517510216', 'edc0512f-3a26-4211-afe9-62fcaa69bbd6', '45853.51734', '', '', 'submitted_via_web', '', 'viBwkEU4Ntjz5owaPekvSt', '', '3'], ['', '7/15/2025', 'Eunice Quansah', '1', '1', '2', '1', '1', '0', '2', '0', '1', '0', '0', '0', '0', '0', '', '', '', '', '', '', '', '', '', '', '3 2 4 1', '1', '1', '1', '1', '50', '100', '2500', '400', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '1', "They can't tell", 'Stable market price ', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '518412406', '2c9d13b6-5c01-47c0-a06f-866a1397f2c4', '45854.56973', '', '', 'submitted_via_web', 'project_juaso', 'viBwkEU4Ntjz5owaPekvSt', '', '4'], ['', '7/15/2025', 'Moda ', '1', '1', '2', '2', '0', '1', '', '', '', '', '', '', '', '', '1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '1', 'Decrease in price of fresh pepper as it is sprouting due to the raining season', 'No comment', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '518412535', '564c651e-0253-4b22-809d-ca621ed6b31d', '45854.56983', '', '', 'submitted_via_web', 'project_juaso', 'viBwkEU4Ntjz5owaPekvSt', '', '5'], ['', '7/15/2025', 'Naomi', '1', '1', '4', '2', '0', '1', '', '', '', '', '', '', '', '', '2', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '1', 'More produce are being harvested ', 'Normal sales', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '518415867', '1f9b04b5-2c7e-44b9-8e14-25724eedc275', '45854.57236', '', '', 'submitted_via_web', 'project_juaso', 'viBwkEU4Ntjz5owaPekvSt', '', '6'], ['', '7/15/2025', 'Aishatu Kassim', '1', '1', '4', '1', '1', '0', '4', '0', '0', '0', '1', '0', '0', '0', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '3 4 2 1', '1', '1', '1', '1', '50', '100', '3000', '800', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '1', 'New variant with its price ', 'Normal sales ', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '518423858', '6ed40ead-d9f2-4a27-8393-99ad1b11299f', '45854.57802', '', '', 'submitted_via_web', 'project_juaso', 'viBwkEU4Ntjz5owaPekvSt', '', '7'], ['', '7/15/2025', 'Nafisa Osman', '1', '7', '11', '1', '1', '0', '3', '0', '0', '1', '0', '0', '0', '0', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '1 2 3 4', '1', '1', '1', '1', '50', '150', '1000', '400', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '1', 'A lot of produce from the farmers ', 'Stable market ', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '518426987', '64ccee59-1a0f-4bc8-851f-3ffc108a373c', '45854.58037', '', '', 'submitted_via_web', 'project_juaso', 'viBwkEU4Ntjz5owaPekvSt', '', '8'], ['', '7/15/2025', 'Naome', '1', '1', '4', '2', '0', '1', '', '', '', '', '', '', '', '', '2', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '0', '', "There's pepper in the market ", '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '518426999', 'f66724c2-55cd-489d-a6b7-e5b8f9b4add5', '45854.58038', '', '', 'submitted_via_web', 'project_juaso', 'viBwkEU4Ntjz5owaPekvSt', '', '9'], ['', '7/15/2025', 'Nafisa Osman ', '1', '7', '11', '2', '0', '1', '', '', '', '', '', '', '', '', '2', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '1', 'Green pepper is more costly than the red', 'Slow market ', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '518428936', '9f80dbdb-ce07-4afb-bc22-15e791f41941', '45854.58207', '', '', 'submitted_via_web', 'project_juaso', 'viBwkEU4Ntjz5owaPekvSt', '', '10'], ['', '7/15/2025', 'Nafisa Osman', '1', '7', '11', '2', '0', '1', '', '', '', '', '', '', '', '', '1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '0', '', "Low sale's ", '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '518430423', 'd2391ec0-825d-4df3-8be6-9ecd4e3a872f', '45854.58323', '', '', 'submitted_via_web', 'project_juaso', 'viBwkEU4Ntjz5owaPekvSt', '', '11'], ['', '7/15/2025', 'Vida', '2', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'No comment ', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '518436310', '68d77fa0-821f-48de-b53d-8a0483fb7fcc', '45854.58779', '', '', 'submitted_via_web', 'project_juaso', 'viBwkEU4Ntjz5owaPekvSt', '', '12']]

In [9]:
import pandas as pd
df = pd.DataFrame(value_list [1:], columns=value_list[0])

In [10]:
df.head(10)  # Display the first 10 rows of the DataFrame

,intro1,ddt,Retailor,Stat,Cit,Mkt,prod,prod/1,prod/2,sorc,...,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,__version__,_tags,_index
0,,7/3/2025,Test,1,1,4,45659,1,1,1 2 3 4 5 6 7,...,511049347,6bda8868-9fee-4a3b-8358-646cc1523a22,45843.50233,,,submitted_via_web,,vryeMfHZRgWT9dBVaGatin,,1
1,,7/4/2025,Test 2,1,2,6,1,1,0,45661,...,511081241,d67419ca-13b3-4084-b977-9c12ef2643bf,45843.55475,,,submitted_via_web,,vryeMfHZRgWT9dBVaGatin,,2
2,,,Ato,1,1,4,2,0,1,,...,517510216,edc0512f-3a26-4211-afe9-62fcaa69bbd6,45853.51734,,,submitted_via_web,,viBwkEU4Ntjz5owaPekvSt,,3
3,,7/15/2025,Eunice Quansah,1,1,2,1,1,0,2,...,518412406,2c9d13b6-5c01-47c0-a06f-866a1397f2c4,45854.56973,,,submitted_via_web,project_juaso,viBwkEU4Ntjz5owaPekvSt,,4
4,,7/15/2025,Moda,1,1,2,2,0,1,,...,518412535,564c651e-0253-4b22-809d-ca621ed6b31d,45854.56983,,,submitted_via_web,project_juaso,viBwkEU4Ntjz5owaPekvSt,,5
5,,7/15/2025,Naomi,1,1,4,2,0,1,,...,518415867,1f9b04b5-2c7e-44b9-8e14-25724eedc275,45854.57236,,,submitted_via_web,project_juaso,viBwkEU4Ntjz5owaPekvSt,,6
6,,7/15/2025,Aishatu Kassim,1,1,4,1,1,0,4,...,518423858,6ed40ead-d9f2-4a27-8393-99ad1b11299f,45854.57802,,,submitted_via_web,project_juaso,viBwkEU4Ntjz5owaPekvSt,,7
7,,7/15/2025,Nafisa Osman,1,7,11,1,1,0,3,...,518426987,64ccee59-1a0f-4bc8-851f-3ffc108a373c,45854.58037,,,submitted_via_web,project_juaso,viBwkEU4Ntjz5owaPekvSt,,8
8,,7/15/2025,Naome,1,1,4,2,0,1,,...,518426999,f66724c2-55cd-489d-a6b7-e5b8f9b4add5,45854.58038,,,submitted_via_web,project_juaso,viBwkEU4Ntjz5owaPekvSt,,9
9,,7/15/2025,Nafisa Osman,1,7,11,2,0,1,,...,518428936,9f80dbdb-ce07-4afb-bc22-15e791f41941,45854.58207,,,submitted_via_web,project_juaso,viBwkEU4Ntjz5owaPekvSt,,10

In [109]:
df.loc[(df['sorc/1']==1) , "Sorce1"]= "Bolga"
df.loc[(df['sorc/2']==1) , "Sorce2"]= "Navrongo"
df.loc[(df['sorc/3']==1) , "Sorce3"]= "Local"
df.loc[(df['sorc/4']==1) , "Sorce4"]= "Burkina Faso"
df.loc[(df['sorc/5']==1) , "Sorce5"]= "Ada"      
df.loc[(df['sorc/6']==1) , "Sorce6"]= "Techiman"
df.loc[(df['sorc/7']==1) , "Sorce7"]= "Ashanti"

In [111]:
df.head()

,intro1,ddt,Retailor,Stat,Cit,Mkt,prod,prod/1,prod/2,sorc,...,__version__,_tags,_index,Sorce1,Sorce2,Sorce3,Sorce4,Sorce5,Sorce6,Sorce7
0,,7/3/2025,Test,1,1,4,45659,1,1,1 2 3 4 5 6 7,...,vryeMfHZRgWT9dBVaGatin,,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,7/4/2025,Test 2,1,2,6,1,1,0,45661,...,vryeMfHZRgWT9dBVaGatin,,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,,Ato,1,1,4,2,0,1,,...,viBwkEU4Ntjz5owaPekvSt,,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,,7/15/2025,Eunice Quansah,1,1,2,1,1,0,2,...,viBwkEU4Ntjz5owaPekvSt,,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,,7/15/2025,Moda,1,1,2,2,0,1,,...,viBwkEU4Ntjz5owaPekvSt,,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
cols=['ddt' , 'Retailor' , 'Stat' , 'Cit' , 'Mkt'  , 'prod/1' , 'prod/2' ,  'sorc/1' , 'sorc/2' , 'sorc/3' , 'sorc/4' , 'sorc/5' , 'sorc/6' , 'sorc/7' , 'col' , 'C14_1/1' , 'C14_1/2' , 'C14_1/3' , 'C14_1/4' , 'Tin_1' , 'Bucket_1' , 'wooden_1' , 'basket_1' , 'C14_2/1' , 'C14_2/2' , 'C14_2/3' , 'C14_2/4' , 'Tin_2' , 'Bucket_2' , 'wooden_2' , 'basket_2' , 'C14_3' , 'C14_3/1' , 'C14_3/2' , 'C14_3/3' , 'C14_3/4' , 'Tin_3' , 'Bucket_3' , 'wooden_3' , 'basket_3' , 'C14_4' , 'C14_4/1' , 'C14_4/2' , 'C14_4/3' , 'C14_4/4' , 'Tin_4' , 'Bucket_4' , 'wooden_4' , 'basket_4' , 'C14_5' , 'C14_5/1' , 'C14_5/2' , 'C14_5/3' , 'C14_5/4' , 'Tin_5' , 'Bucket_5' , 'wooden_5' , 'basket_5' , 'C14_6' , 'C14_6/1' , 'C14_6/2' , 'C14_6/3' , 'C14_6/4' , 'Tin_6' , 'Bucket_6' , 'wooden_6' , 'basket_6' , 'C14_7' , 'C14_7/1' , 'C14_7/2' , 'C14_7/3' , 'C14_7/4' , 'Tin_7' , 'Bucket_7' , 'wooden_7' , 'basket_7' , 'Incres' , 'Reason' , 'Comm','_index']

In [59]:
colsindexN = df[['ddt', 'Retailor', 'Stat', 'Cit', 'Mkt', 'Incres',  'prod/1' , 'prod/2' , 'Reason', 'Comm', '_index', 'col', 'sorc/1' , 'sorc/2' , 'sorc/3' , 'sorc/4' , 'sorc/5' , 'sorc/6' , 'sorc/7']]

In [60]:
colsindexNrev = colsindexN.melt(id_vars=['ddt', 'Retailor', 'Stat', 'Cit', 'Mkt', 'Incres', 'Reason', 'Comm', '_index', 'col', 'prod/1' , 'prod/2'])

In [17]:
colsindexNrev.head(50)

,ddt,Retailor,Stat,Cit,Mkt,Incres,Reason,Comm,_index,col,variable,value
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,sorc/1,1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,sorc/1,1
2,,Ato,1,1,4,1,Too expensive,,3,1,sorc/1,
3,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,sorc/1,0
4,7/15/2025,Moda,1,1,2,1,Decrease in price of fresh pepper as it is spr...,No comment,5,1,sorc/1,
5,7/15/2025,Naomi,1,1,4,1,More produce are being harvested,Normal sales,6,2,sorc/1,
6,7/15/2025,Aishatu Kassim,1,1,4,1,New variant with its price,Normal sales,7,,sorc/1,0
7,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,sorc/1,0
8,7/15/2025,Naome,1,1,4,0,,There's pepper in the market,9,2,sorc/1,
9,7/15/2025,Nafisa Osman,1,7,11,1,Green pepper is more costly than the red,Slow market,10,2,sorc/1,
10,7/15/2025,Nafisa Osman,1,7,11,0,,Low sale's,11,1,sorc/1,
11,7/15/2025,Vida,2,,,,,No comment,12,,sorc/1,
12,7/3/2025,Test,1,1,4,0,,Tygg,1,2,sorc/2,1
13,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,sorc/2,0
14,,Ato,1,1,4,1,Too expensive,,3,1,sorc/2,
15,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,sorc/2,1
16,7/15/2025,Moda,1,1,2,1,Decrease in price of fresh pepper as it is spr...,No comment,5,1,sorc/2,
17,7/15/2025,Naomi,1,1,4,1,More produce are being harvested,Normal sales,6,2,sorc/2,
18,7/15/2025,Aishatu Kassim,1,1,4,1,New variant with its price,Normal sales,7,,sorc/2,0
19,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,sorc/2,0
20,7/15/2025,Naome,1,1,4,0,,There's pepper in the market,9,2,sorc/2,
21,7/15/2025,Nafisa Osman,1,7,11,1,Green pepper is more costly than the red,Slow market,10,2,sorc/2,
22,7/15/2025,Nafisa Osman,1,7,11,0,,Low sale's,11,1,sorc/2,
23,7/15/2025,Vida,2,,,,,No comment,12,,sorc/2,
24,7/3/2025,Test,1,1,4,0,,Tygg,1,2,sorc/3,1
25,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,sorc/3,0
26,,Ato,1,1,4,1,Too expensive,,3,1,sorc/3,
27,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,sorc/3,0
28,7/15/2025,Moda,1,1,2,1,Decrease in price of fresh pepper as it is spr...,No comment,5,1,sorc/3,
29,7/15/2025,Naomi,1,1,4,1,More produce are being harvested,Normal sales,6,2,sorc/3,
30,7/15/2025,Aishatu Kassim,1,1,4,1,New variant with its price,Normal sales,7,,sorc/3,0
31,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,sorc/3,1
32,7/15/2025,Naome,1,1,4,0,,There's pepper in the market,9,2,sorc/3,
33,7/15/2025,Nafisa Osman,1,7,11,1,Green pepper is more costly than the red,Slow market,10,2,sorc/3,
34,7/15/2025,Nafisa Osman,1,7,11,0,,Low sale's,11,1,sorc/3,
35,7/15/2025,Vida,2,,,,,No comment,12,,sorc/3,
36,7/3/2025,Test,1,1,4,0,,Tygg,1,2,sorc/4,1
37,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,sorc/4,1
38,,Ato,1,1,4,1,Too expensive,,3,1,sorc/4,
39,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,sorc/4,0
40,7/15/2025,Moda,1,1,2,1,Decrease in price of fresh pepper as it is spr...,No comment,5,1,sorc/4,
41,7/15/2025,Naomi,1,1,4,1,More produce are being harvested,Normal sales,6,2,sorc/4,
42,7/15/2025,Aishatu Kassim,1,1,4,1,New variant with its price,Normal sales,7,,sorc/4,1
43,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,sorc/4,0
44,7/15/2025,Naome,1,1,4,0,,There's pepper in the market,9,2,sorc/4,
45,7/15/2025,Nafisa Osman,1,7,11,1,Green pepper is more costly than the red,Slow market,10,2,sorc/4,
46,7/15/2025,Nafisa Osman,1,7,11,0,,Low sale's,11,1,sorc/4,
47,7/15/2025,Vida,2,,,,,No comment,12,,sorc/4,
48,7/3/2025,Test,1,1,4,0,,Tygg,1,2,sorc/5,1
49,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,sorc/5,0

In [19]:
colsindex1 = df[['ddt', 'Retailor', 'Stat', 'Cit', 'Mkt', 'Incres', 'Reason', 'Comm', '_index', 'col', 'prod/1' , 'prod/2' ,'sorc/1']]
colsother=df[['_index', 'prod/1' , 'prod/2' ,  'C14_1/1' , 'C14_1/2' , 'C14_1/3' , 'C14_1/4' , 'Tin_1' , 'Bucket_1' , 'wooden_1' , 'basket_1' , 'C14_2/1' , 'C14_2/2' , 'C14_2/3' , 'C14_2/4' , 'Tin_2' , 'Bucket_2' , 'wooden_2' , 'basket_2' , 'C14_3' , 'C14_3/1' , 'C14_3/2' , 'C14_3/3' , 'C14_3/4' , 'Tin_3' , 'Bucket_3' , 'wooden_3' , 'basket_3' , 'C14_4' , 'C14_4/1' , 'C14_4/2' , 'C14_4/3' , 'C14_4/4' , 'Tin_4' , 'Bucket_4' , 'wooden_4' , 'basket_4' , 'C14_5' , 'C14_5/1' , 'C14_5/2' , 'C14_5/3' , 'C14_5/4' , 'Tin_5' , 'Bucket_5' , 'wooden_5' , 'basket_5' , 'C14_6' , 'C14_6/1' , 'C14_6/2' , 'C14_6/3' , 'C14_6/4' , 'Tin_6' , 'Bucket_6' , 'wooden_6' , 'basket_6' , 'C14_7' , 'C14_7/1' , 'C14_7/2' , 'C14_7/3' , 'C14_7/4' , 'Tin_7' , 'Bucket_7' , 'wooden_7' , 'basket_7']]

# The product split is suspended until further notice.

colsotherProd=df[['_index', 'prod/1' , 'prod/2' ]]
colsotherProd= colsotherProd.melt(id_vars=['_index'])

colsotherProd = colsotherProd.rename(columns={'variable': 'Product_type', 'value': 'Product_value'})
colsotherProd.head(50)

In [41]:
#Spliting SKUS into different dataframes.

colsothersku1=df[['_index', 'sorc/1' , 'C14_1/1' , 'C14_1/2' , 'C14_1/3' , 'C14_1/4']]
colsothersku1= colsothersku1.melt(id_vars=['_index', 'sorc/1']) 

colsothersku2=df[['_index', 'sorc/2' , 'C14_2/1' , 'C14_2/2' , 'C14_2/3' , 'C14_2/4']]
colsothersku2= colsothersku2.melt(id_vars=['_index', 'sorc/2']) 

colsothersku3=df[['_index', 'sorc/3' , 'C14_3/1' , 'C14_3/2' , 'C14_3/3' , 'C14_3/4']]
colsothersku3= colsothersku3.melt(id_vars=['_index', 'sorc/3']) 

colsothersku4=df[['_index', 'sorc/4' , 'C14_4/1' , 'C14_4/2' , 'C14_4/3' , 'C14_4/4']]
colsothersku4= colsothersku4.melt(id_vars=['_index', 'sorc/4']) 

colsothersku5=df[['_index', 'sorc/5' , 'C14_5/1' , 'C14_5/2' , 'C14_5/3' , 'C14_5/4']]
colsothersku5= colsothersku5.melt(id_vars=['_index', 'sorc/5']) 

colsothersku6=df[['_index', 'sorc/6' , 'C14_6/1' , 'C14_6/2' , 'C14_6/3' , 'C14_6/4']]
colsothersku6= colsothersku6.melt(id_vars=['_index', 'sorc/6']) 

colsothersku7=df[['_index', 'sorc/7' , 'C14_7/1' , 'C14_7/2' , 'C14_7/3' , 'C14_7/4']]
colsothersku7= colsothersku7.melt(id_vars=['_index', 'sorc/7'])

In [42]:
colsothersku1['sorc/1'] = pd.to_numeric(colsothersku1['sorc/1'], errors='coerce').fillna(0).astype(int)
colsothersku2['sorc/2'] = pd.to_numeric(colsothersku2['sorc/2'], errors='coerce').fillna(0).astype(int)
colsothersku3['sorc/3'] = pd.to_numeric(colsothersku3['sorc/3'], errors='coerce').fillna(0).astype(int)
colsothersku4['sorc/4'] = pd.to_numeric(colsothersku4['sorc/4'], errors='coerce').fillna(0).astype(int)
colsothersku5['sorc/5'] = pd.to_numeric(colsothersku5['sorc/5'], errors='coerce').fillna(0).astype(int)
colsothersku6['sorc/6'] = pd.to_numeric(colsothersku6['sorc/6'], errors='coerce').fillna(0).astype(int)
colsothersku7['sorc/7'] = pd.to_numeric(colsothersku7['sorc/7'], errors='coerce').fillna(0).astype(int)

In [43]:
colsothersku1.loc[(colsothersku1['sorc/1']==1) , "SorceSKU"]= "Bolga"
colsothersku2.loc[(colsothersku2['sorc/2']==1) , "SorceSKU"]= "Navrongo"
colsothersku3.loc[(colsothersku3['sorc/3']==1) , "SorceSKU"]= "Local"
colsothersku4.loc[(colsothersku4['sorc/4']==1) , "SorceSKU"]= "Burkina Faso"
colsothersku5.loc[(colsothersku5['sorc/5']==1) , "SorceSKU"]= "Ada"      
colsothersku6.loc[(colsothersku6['sorc/6']==1) , "SorceSKU"]= "Techiman"
colsothersku7.loc[(colsothersku7['sorc/7']==1) , "SorceSKU"]= "Ashanti"

In [44]:
#Spliting Prices into different dataframes.
colsotherPrice1=df[['_index', 'sorc/1' ,  'Tin_1', 'Bucket_1', 'wooden_1', 'basket_1']]
colsotherPrice1= colsotherPrice1.melt(id_vars=['_index', 'sorc/1']) 
colsotherPrice2=df[['_index', 'sorc/2' ,  'Tin_2', 'Bucket_2', 'wooden_2', 'basket_2']]
colsotherPrice2= colsotherPrice2.melt(id_vars=['_index', 'sorc/2']) 
colsotherPrice3=df[['_index', 'sorc/3' ,  'Tin_3', 'Bucket_3', 'wooden_3', 'basket_3']]
colsotherPrice3= colsotherPrice3.melt(id_vars=['_index', 'sorc/3']) 
colsotherPrice4=df[['_index', 'sorc/4' ,  'Tin_4', 'Bucket_4', 'wooden_4', 'basket_4']]
colsotherPrice4= colsotherPrice4.melt(id_vars=['_index', 'sorc/4']) 
colsotherPrice5=df[['_index', 'sorc/5' ,  'Tin_5', 'Bucket_5', 'wooden_5', 'basket_5']]
colsotherPrice5= colsotherPrice5.melt(id_vars=['_index', 'sorc/5']) 
colsotherPrice6=df[['_index', 'sorc/6' ,  'Tin_6', 'Bucket_6', 'wooden_6', 'basket_6']]
colsotherPrice6= colsotherPrice6.melt(id_vars=['_index', 'sorc/6'])
colsotherPrice7=df[['_index', 'sorc/7' ,  'Tin_7', 'Bucket_7', 'wooden_7', 'basket_7']]
colsotherPrice7= colsotherPrice7.melt(id_vars=['_index', 'sorc/7'])

In [46]:

MG_skus= pd.concat([colsothersku1, colsothersku2, colsothersku3, colsothersku4, colsothersku5, colsothersku6, colsothersku7])
MG_skus = MG_skus.rename(columns={'variable': 'C14', 'value': 'SKU_visible'})
MG_skus['SKU_visible'] = pd.to_numeric(MG_skus['SKU_visible'], errors='coerce').fillna(0).astype(int)
MG_skus= MG_skus[['_index','SKU_visible', 'SorceSKU', 'C14']]

MG_skus.head(50)

   _index  SKU_visible  SorceSKU      C14
0       1            1     Bolga  C14_1/1
1       2            1     Bolga  C14_1/1
2       3            0       NaN  C14_1/1
3       4            0       NaN  C14_1/1
4       5            0       NaN  C14_1/1
5       6            0       NaN  C14_1/1
6       7            0       NaN  C14_1/1
7       8            0       NaN  C14_1/1
8       9            0       NaN  C14_1/1
9      10            0       NaN  C14_1/1
10     11            0       NaN  C14_1/1
11     12            0       NaN  C14_1/1
12      1            1     Bolga  C14_1/2
13      2            1     Bolga  C14_1/2
14      3            0       NaN  C14_1/2
15      4            0       NaN  C14_1/2
16      5            0       NaN  C14_1/2
17      6            0       NaN  C14_1/2
18      7            0       NaN  C14_1/2
19      8            0       NaN  C14_1/2
20      9            0       NaN  C14_1/2
21     10            0       NaN  C14_1/2
22     11            0       NaN  C14_1/2
23     12            0       NaN  C14_1/2
24      1            1     Bolga  C14_1/3
25      2            0     Bolga  C14_1/3
26      3            0       NaN  C14_1/3
27      4            0       NaN  C14_1/3
28      5            0       NaN  C14_1/3
29      6            0       NaN  C14_1/3
30      7            0       NaN  C14_1/3
31      8            0       NaN  C14_1/3
32      9            0       NaN  C14_1/3
33     10            0       NaN  C14_1/3
34     11            0       NaN  C14_1/3
35     12            0       NaN  C14_1/3
36      1            1     Bolga  C14_1/4
37      2            0     Bolga  C14_1/4
38      3            0       NaN  C14_1/4
39      4            0       NaN  C14_1/4
40      5            0       NaN  C14_1/4
41      6            0       NaN  C14_1/4
42      7            0       NaN  C14_1/4
43      8            0       NaN  C14_1/4
44      9            0       NaN  C14_1/4
45     10            0       NaN  C14_1/4
46     11            0       NaN  C14_1/4
47     12            0       NaN  C14_1/4
0       1            1  Navrongo  C14_2/1
1       2            0       NaN  C14_2/1

In [47]:
colsotherPrice1['sorc/1'] = pd.to_numeric(colsotherPrice1['sorc/1'], errors='coerce').fillna(0).astype(int)
colsotherPrice2['sorc/2'] = pd.to_numeric(colsotherPrice2['sorc/2'], errors='coerce').fillna(0).astype(int)
colsotherPrice3['sorc/3'] = pd.to_numeric(colsotherPrice3['sorc/3'], errors='coerce').fillna(0).astype(int)
colsotherPrice4['sorc/4'] = pd.to_numeric(colsotherPrice4['sorc/4'], errors='coerce').fillna(0).astype(int)
colsotherPrice5['sorc/5'] = pd.to_numeric(colsotherPrice5['sorc/5'], errors='coerce').fillna(0).astype(int)
colsotherPrice6['sorc/6'] = pd.to_numeric(colsotherPrice6['sorc/6'], errors='coerce').fillna(0).astype(int)
colsotherPrice7['sorc/7'] = pd.to_numeric(colsotherPrice7['sorc/7'], errors='coerce').fillna(0).astype(int)

colsotherPrice1.loc[(colsotherPrice1['sorc/1']==1) , "SorcePx"]= "Bolga"
colsotherPrice2.loc[(colsotherPrice2['sorc/2']==1) , "SorcePx"]= "Navrongo"
colsotherPrice3.loc[(colsotherPrice3['sorc/3']==1) , "SorcePx"]= "Local"
colsotherPrice4.loc[(colsotherPrice4['sorc/4']==1) , "SorcePx"]= "Burkina Faso"
colsotherPrice5.loc[(colsotherPrice5['sorc/5']==1) , "SorcePx"]= "Ada"      
colsotherPrice6.loc[(colsotherPrice6['sorc/6']==1) , "SorcePx"]= "Techiman"
colsotherPrice7.loc[(colsotherPrice7['sorc/7']==1) , "SorcePx"]= "Ashanti"

In [188]:
colsotherPrice1.head(20)

   _index  sorc/1  variable value  Sorce
0       1       1     Tin_1    25  Bolga
1       2       1     Tin_1    25  Bolga
2       3       0     Tin_1          NaN
3       4       0     Tin_1          NaN
4       5       0     Tin_1          NaN
5       6       0     Tin_1          NaN
6       7       0     Tin_1          NaN
7       8       0     Tin_1          NaN
8       9       0     Tin_1          NaN
9      10       0     Tin_1          NaN
10     11       0     Tin_1          NaN
11     12       0     Tin_1          NaN
12      1       1  Bucket_1    23  Bolga
13      2       1  Bucket_1    99  Bolga
14      3       0  Bucket_1          NaN
15      4       0  Bucket_1          NaN
16      5       0  Bucket_1          NaN
17      6       0  Bucket_1          NaN
18      7       0  Bucket_1          NaN
19      8       0  Bucket_1          NaN

In [48]:
MG_Prices= pd.concat([colsotherPrice1, colsotherPrice2, colsotherPrice3, colsotherPrice4, colsotherPrice5, colsotherPrice6, colsotherPrice7])
MG_Prices = MG_Prices.rename(columns={'variable': 'Price_sku', 'value': 'Price_visible'})
MG_Prices['SKU_visible'] = pd.to_numeric(MG_Prices['Price_visible'], errors='coerce').fillna(0).astype(int)
MG_Prices= MG_Prices[['_index','Price_visible', 'SorcePx', 'Price_sku']]
 
MG_Prices.head(50)

   _index Price_visible   SorcePx Price_sku
0       1            25     Bolga     Tin_1
1       2            25     Bolga     Tin_1
2       3                     NaN     Tin_1
3       4                     NaN     Tin_1
4       5                     NaN     Tin_1
5       6                     NaN     Tin_1
6       7                     NaN     Tin_1
7       8                     NaN     Tin_1
8       9                     NaN     Tin_1
9      10                     NaN     Tin_1
10     11                     NaN     Tin_1
11     12                     NaN     Tin_1
12      1            23     Bolga  Bucket_1
13      2            99     Bolga  Bucket_1
14      3                     NaN  Bucket_1
15      4                     NaN  Bucket_1
16      5                     NaN  Bucket_1
17      6                     NaN  Bucket_1
18      7                     NaN  Bucket_1
19      8                     NaN  Bucket_1
20      9                     NaN  Bucket_1
21     10                     NaN  Bucket_1
22     11                     NaN  Bucket_1
23     12                     NaN  Bucket_1
24      1            88     Bolga  wooden_1
25      2                   Bolga  wooden_1
26      3                     NaN  wooden_1
27      4                     NaN  wooden_1
28      5                     NaN  wooden_1
29      6                     NaN  wooden_1
30      7                     NaN  wooden_1
31      8                     NaN  wooden_1
32      9                     NaN  wooden_1
33     10                     NaN  wooden_1
34     11                     NaN  wooden_1
35     12                     NaN  wooden_1
36      1            66     Bolga  basket_1
37      2                   Bolga  basket_1
38      3                     NaN  basket_1
39      4                     NaN  basket_1
40      5                     NaN  basket_1
41      6                     NaN  basket_1
42      7                     NaN  basket_1
43      8                     NaN  basket_1
44      9                     NaN  basket_1
45     10                     NaN  basket_1
46     11                     NaN  basket_1
47     12                     NaN  basket_1
0       1            32  Navrongo     Tin_2
1       2                     NaN     Tin_2

df[cols].set_index(colsindex).stack([0], future_stack=True).reset_index().head(50)
df1 = pd.DataFrame(value_list [1:], columns=value_list[0])
df[cols].explode('colsother').
MG= (colsindex + colsother)
MG = pd.Series(MG).explode(colsother).reset_index(drop=True)
sku1=['C14_1/1' , 'C14_1/2' , 'C14_1/3' , 'C14_1/4']
df1a= [colsindex1 + sku1] 
df[df1a[0]].head(50)

df1b= [colsindex, 'sorc/1' , 'Tin_1' , 'Bucket_1' , 'wooden_1' , 'basket_1' ]

In [61]:
Final_MG_data= colsindexNrev.merge(MG_skus, how='left', left_index=True, right_index=True).merge(MG_Prices, how='right', left_index=True, right_index=True)

In [62]:
Final_MG_data.head(50)

,ddt,Retailor,Stat,Cit,Mkt,Incres,Reason,Comm,_index_x,col,...,variable,value,_index_y,SKU_visible,SorceSKU,C14,_index,Price_visible,SorcePx,Price_sku
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/1,1,1,1.0,Bolga,C14_1/1,1,25,Bolga,Tin_1
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/1,1,1,1.0,Navrongo,C14_2/1,1,25,Bolga,Tin_1
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/1,1,1,1.0,Local,C14_3/1,1,25,Bolga,Tin_1
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/1,1,1,1.0,Burkina Faso,C14_4/1,1,25,Bolga,Tin_1
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/1,1,1,1.0,Ada,C14_5/1,1,25,Bolga,Tin_1
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/1,1,1,1.0,Techiman,C14_6/1,1,25,Bolga,Tin_1
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/1,1,1,1.0,Ashanti,C14_7/1,1,25,Bolga,Tin_1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/1,1,2,1.0,Bolga,C14_1/1,2,25,Bolga,Tin_1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/1,1,2,0.0,NaN,C14_2/1,2,25,Bolga,Tin_1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/1,1,2,0.0,NaN,C14_3/1,2,25,Bolga,Tin_1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/1,1,2,1.0,Burkina Faso,C14_4/1,2,25,Bolga,Tin_1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/1,1,2,0.0,NaN,C14_5/1,2,25,Bolga,Tin_1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/1,1,2,0.0,NaN,C14_6/1,2,25,Bolga,Tin_1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/1,1,2,0.0,NaN,C14_7/1,2,25,Bolga,Tin_1
2,,Ato,1,1,4,1,Too expensive,,3,1,...,sorc/1,,3,0.0,NaN,C14_1/1,3,,NaN,Tin_1
2,,Ato,1,1,4,1,Too expensive,,3,1,...,sorc/1,,3,0.0,NaN,C14_2/1,3,,NaN,Tin_1
2,,Ato,1,1,4,1,Too expensive,,3,1,...,sorc/1,,3,0.0,NaN,C14_3/1,3,,NaN,Tin_1
2,,Ato,1,1,4,1,Too expensive,,3,1,...,sorc/1,,3,0.0,NaN,C14_4/1,3,,NaN,Tin_1
2,,Ato,1,1,4,1,Too expensive,,3,1,...,sorc/1,,3,0.0,NaN,C14_5/1,3,,NaN,Tin_1
2,,Ato,1,1,4,1,Too expensive,,3,1,...,sorc/1,,3,0.0,NaN,C14_6/1,3,,NaN,Tin_1
2,,Ato,1,1,4,1,Too expensive,,3,1,...,sorc/1,,3,0.0,NaN,C14_7/1,3,,NaN,Tin_1
3,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,sorc/1,0,4,0.0,NaN,C14_1/1,4,,NaN,Tin_1
3,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,sorc/1,0,4,1.0,Navrongo,C14_2/1,4,,NaN,Tin_1
3,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,sorc/1,0,4,0.0,NaN,C14_3/1,4,,NaN,Tin_1
3,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,sorc/1,0,4,0.0,NaN,C14_4/1,4,,NaN,Tin_1
3,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,sorc/1,0,4,0.0,NaN,C14_5/1,4,,NaN,Tin_1
3,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,sorc/1,0,4,0.0,NaN,C14_6/1,4,,NaN,Tin_1
3,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,sorc/1,0,4,0.0,NaN,C14_7/1,4,,NaN,Tin_1
4,7/15/2025,Moda,1,1,2,1,Decrease in price of fresh pepper as it is spr...,No comment,5,1,...,sorc/1,,5,0.0,NaN,C14_1/1,5,,NaN,Tin_1
4,7/15/2025,Moda,1,1,2,1,Decrease in price of fresh pepper as it is spr...,No comment,5,1,...,sorc/1,,5,0.0,NaN,C14_2/1,5,,NaN,Tin_1
4,7/15/2025,Moda,1,1,2,1,Decrease in price of fresh pepper as it is spr...,No comment,5,1,...,sorc/1,,5,0.0,NaN,C14_3/1,5,,NaN,Tin_1
4,7/15/2025,Moda,1,1,2,1,Decrease in price of fresh pepper as it is spr...,No comment,5,1,...,sorc/1,,5,0.0,NaN,C14_4/1,5,,NaN,Tin_1
4,7/15/2025,Moda,1,1,2,1,Decrease in price of fresh pepper as it is spr...,No comment,5,1,...,sorc/1,,5,0.0,NaN,C14_5/1,5,,NaN,Tin_1
4,7/15/2025,Moda,1,1,2,1,Decrease in price of fresh pepper as it is spr...,No comment,5,1,...,sorc/1,,5,0.0,NaN,C14_6/1,5,,NaN,Tin_1
4,7/15/2025,Moda,1,1,2,1,Decrease in price of fresh pepper as it is spr...,No comment,5,1,...,sorc/1,,5,0.0,NaN,C14_7/1,5,,NaN,Tin_1
5,7/15/2025,Naomi,1,1,4,1,More produce are being harvested,Normal sales,6,2,...,sorc/1,,6,0.0,NaN,C14_1/1,6,,NaN,Tin_1
5,7/15/2025,Naomi,1,1,4,1,More produce are being harvested,Normal sales,6,2,...,sorc/1,,6,0.0,NaN,C14_2/1,6,,NaN,Tin_1
5,7/15/2025,Naomi,1,1,4,1,More produce are being harvested,Normal sales,6,2,...,sorc/1,,6,0.0,NaN,C14_3/1,6,,NaN,Tin_1
5,7/15/2025,Naomi,1,1,4,1,More produce are being harvested,Normal sales,6,2,...,sorc/1,,6,0.0,NaN,C14_4/1,6,,NaN,Tin_1
5,7/15/2025,Naomi,1,1,4,1,More produce are being harvested,Normal sales,6,2,...,sorc/1,,6,0.0,NaN,C14_5/1,6,,NaN,Tin_1
5,7/15/2025,Naomi,1,1,4,1,More produce are being harvested,Normal sales,6,2,...,sorc/1,,6,0.0,NaN,C14_6/1,6,,NaN,Tin_1
5,7/15/2025,Naomi,1,1,4,1,More produce are being harvested,Normal sales,6,2,...,sorc/1,,6,0.0,NaN,C14_7/1,6,,NaN,Tin_1
6,7/15/2025,Aishatu Kassim,1,1,4,1,New variant with its price,Normal sales,7,,...,sorc/1,0,7,0.0,NaN,C14_1/1,7,,NaN,Tin_1
6,7/15/2025,Aishatu Kassim,1,1,4,1,New variant with its price,Normal sales,7,,...,sorc/1,0,7,0.0,NaN,C14_2/1,7,,NaN,Tin_1
6,7/15/2025,Aishatu Kassim,1,1,4,1,New variant with its price,Normal sales,7,,...,sorc/1,0,7,0.0,NaN,C14_3/1,7,,NaN,Tin_1
6,7/15/2025,Aishatu Kassim,1,1,4,1,New variant with its price,Normal sales,7,,...,sorc/1,0,7,1.0,Burkina Faso,C14_4/1,7,,NaN,Tin_1
6,7/15/2025,Aishatu Kassim,1,1,4,1,New variant with its price,Normal sales,7,,...,sorc/1,0,7,0.0,NaN,C14_5/1,7,,NaN,Tin_1
6,7/15/2025,Aishatu Kassim,1,1,4,1,New variant with its price,Normal sales,7,,...,sorc/1,0,7,0.0,NaN,C14_6/1,7,,NaN,Tin_1
6,7/15/2025,Aishatu Kassim,1,1,4,1,New variant with its price,Normal sales,7,,...,sorc/1,0,7,0.0,NaN,C14_7/1,7,,NaN,Tin_1
7,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,sorc/1,0,8,0.0,NaN,C14_1/1,8,,NaN,Tin_1

In [64]:
# Convert 'value' column to numeric, errors='coerce' will turn non-numeric values to NaN
Final_MG_data['value'] = pd.to_numeric(Final_MG_data['value'], errors='coerce')
condition = Final_MG_data['value'] > 0
Final_MG_dataRev = Final_MG_data[condition]
Final_MG_dataRev.head(50)

,ddt,Retailor,Stat,Cit,Mkt,Incres,Reason,Comm,_index_x,col,...,variable,value,_index_y,SKU_visible,SorceSKU,C14,_index,Price_visible,SorcePx,Price_sku
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/1,1.0,1,1.0,Bolga,C14_1/1,1,25,Bolga,Tin_1
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/1,1.0,1,1.0,Navrongo,C14_2/1,1,25,Bolga,Tin_1
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/1,1.0,1,1.0,Local,C14_3/1,1,25,Bolga,Tin_1
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/1,1.0,1,1.0,Burkina Faso,C14_4/1,1,25,Bolga,Tin_1
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/1,1.0,1,1.0,Ada,C14_5/1,1,25,Bolga,Tin_1
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/1,1.0,1,1.0,Techiman,C14_6/1,1,25,Bolga,Tin_1
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/1,1.0,1,1.0,Ashanti,C14_7/1,1,25,Bolga,Tin_1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/1,1.0,2,1.0,Bolga,C14_1/1,2,25,Bolga,Tin_1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/1,1.0,2,0.0,NaN,C14_2/1,2,25,Bolga,Tin_1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/1,1.0,2,0.0,NaN,C14_3/1,2,25,Bolga,Tin_1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/1,1.0,2,1.0,Burkina Faso,C14_4/1,2,25,Bolga,Tin_1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/1,1.0,2,0.0,NaN,C14_5/1,2,25,Bolga,Tin_1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/1,1.0,2,0.0,NaN,C14_6/1,2,25,Bolga,Tin_1
1,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/1,1.0,2,0.0,NaN,C14_7/1,2,25,Bolga,Tin_1
12,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/2,1.0,1,1.0,Bolga,C14_1/2,1,23,Bolga,Bucket_1
12,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/2,1.0,1,1.0,Navrongo,C14_2/2,1,23,Bolga,Bucket_1
12,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/2,1.0,1,1.0,Local,C14_3/2,1,23,Bolga,Bucket_1
12,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/2,1.0,1,1.0,Burkina Faso,C14_4/2,1,23,Bolga,Bucket_1
12,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/2,1.0,1,1.0,Ada,C14_5/2,1,23,Bolga,Bucket_1
12,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/2,1.0,1,1.0,Techiman,C14_6/2,1,23,Bolga,Bucket_1
12,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/2,1.0,1,1.0,Ashanti,C14_7/2,1,23,Bolga,Bucket_1
15,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,sorc/2,1.0,4,0.0,NaN,C14_1/2,4,,NaN,Bucket_1
15,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,sorc/2,1.0,4,1.0,Navrongo,C14_2/2,4,,NaN,Bucket_1
15,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,sorc/2,1.0,4,0.0,NaN,C14_3/2,4,,NaN,Bucket_1
15,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,sorc/2,1.0,4,0.0,NaN,C14_4/2,4,,NaN,Bucket_1
15,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,sorc/2,1.0,4,0.0,NaN,C14_5/2,4,,NaN,Bucket_1
15,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,sorc/2,1.0,4,0.0,NaN,C14_6/2,4,,NaN,Bucket_1
15,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,sorc/2,1.0,4,0.0,NaN,C14_7/2,4,,NaN,Bucket_1
24,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/3,1.0,1,1.0,Bolga,C14_1/3,1,88,Bolga,wooden_1
24,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/3,1.0,1,1.0,Navrongo,C14_2/3,1,88,Bolga,wooden_1
24,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/3,1.0,1,1.0,Local,C14_3/3,1,88,Bolga,wooden_1
24,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/3,1.0,1,1.0,Burkina Faso,C14_4/3,1,88,Bolga,wooden_1
24,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/3,1.0,1,1.0,Ada,C14_5/3,1,88,Bolga,wooden_1
24,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/3,1.0,1,1.0,Techiman,C14_6/3,1,88,Bolga,wooden_1
24,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/3,1.0,1,1.0,Ashanti,C14_7/3,1,88,Bolga,wooden_1
31,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,sorc/3,1.0,8,0.0,NaN,C14_1/3,8,,NaN,wooden_1
31,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,sorc/3,1.0,8,0.0,NaN,C14_2/3,8,,NaN,wooden_1
31,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,sorc/3,1.0,8,1.0,Local,C14_3/3,8,,NaN,wooden_1
31,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,sorc/3,1.0,8,0.0,NaN,C14_4/3,8,,NaN,wooden_1
31,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,sorc/3,1.0,8,0.0,NaN,C14_5/3,8,,NaN,wooden_1
31,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,sorc/3,1.0,8,0.0,NaN,C14_6/3,8,,NaN,wooden_1
31,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,sorc/3,1.0,8,0.0,NaN,C14_7/3,8,,NaN,wooden_1
36,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/4,1.0,1,1.0,Bolga,C14_1/4,1,66,Bolga,basket_1
36,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/4,1.0,1,1.0,Navrongo,C14_2/4,1,66,Bolga,basket_1
36,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/4,1.0,1,1.0,Local,C14_3/4,1,66,Bolga,basket_1
36,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/4,1.0,1,1.0,Burkina Faso,C14_4/4,1,66,Bolga,basket_1
36,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/4,1.0,1,1.0,Ada,C14_5/4,1,66,Bolga,basket_1
36,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/4,1.0,1,1.0,Techiman,C14_6/4,1,66,Bolga,basket_1
36,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,sorc/4,1.0,1,1.0,Ashanti,C14_7/4,1,66,Bolga,basket_1
37,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,sorc/4,1.0,2,0.0,Bolga,C14_1/4,2,,Bolga,basket_1

In [65]:
column_names= Final_MG_dataRev.columns.tolist()
print(column_names)

['ddt', 'Retailor', 'Stat', 'Cit', 'Mkt', 'Incres', 'Reason', 'Comm', '_index_x', 'col', 'prod/1', 'prod/2', 'variable', 'value', '_index_y', 'SKU_visible', 'SorceSKU', 'C14', '_index', 'Price_visible', 'SorcePx', 'Price_sku']

In [67]:
Final_MG_dataRev= Final_MG_dataRev.rename(columns={ 'value': 'Selector_variable'})

Finaldata_for_filter= Final_MG_dataRev.melt(id_vars=['ddt', 'Retailor', 'Stat', 'Cit', 'Mkt', 'Incres', 'Reason', 'Comm', '_index_x', 'col', 'variable', 'Selector_variable', '_index_y', 'SKU_visible', 'SorceSKU', 'C14', '_index', 'Price_visible', 'SorcePx', 'Price_sku'])

In [ ]:
Finaldata_for_filter.head(50)

In [69]:
Finaldata_for_filter= Finaldata_for_filter.rename(columns={ 'value': 'Selector_Product', 'variable': 'Product_name'})

In [ ]:
# Convert 'value' column to numeric, errors='coerce' will turn non-numeric values to NaN
Finaldata_for_filter['Selector_Product'] = pd.to_numeric(Finaldata_for_filter['Selector_Product'], errors='coerce')
condition2 = Finaldata_for_filter['Selector_Product'] > 0
FinaldataMG = Finaldata_for_filter[condition2]

In [71]:
FinaldataMG.head(50)

,ddt,Retailor,Stat,Cit,Mkt,Incres,Reason,Comm,_index_x,col,...,_index_y,SKU_visible,SorceSKU,C14,_index,Price_visible,SorcePx,Price_sku,Product_name,Selector_Product
0,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Bolga,C14_1/1,1,25,Bolga,Tin_1,prod/1,1
1,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Navrongo,C14_2/1,1,25,Bolga,Tin_1,prod/1,1
2,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Local,C14_3/1,1,25,Bolga,Tin_1,prod/1,1
3,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Burkina Faso,C14_4/1,1,25,Bolga,Tin_1,prod/1,1
4,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Ada,C14_5/1,1,25,Bolga,Tin_1,prod/1,1
5,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Techiman,C14_6/1,1,25,Bolga,Tin_1,prod/1,1
6,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Ashanti,C14_7/1,1,25,Bolga,Tin_1,prod/1,1
7,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,2,1.0,Bolga,C14_1/1,2,25,Bolga,Tin_1,prod/1,1
8,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,2,0.0,NaN,C14_2/1,2,25,Bolga,Tin_1,prod/1,1
9,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,2,0.0,NaN,C14_3/1,2,25,Bolga,Tin_1,prod/1,1
10,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,2,1.0,Burkina Faso,C14_4/1,2,25,Bolga,Tin_1,prod/1,1
11,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,2,0.0,NaN,C14_5/1,2,25,Bolga,Tin_1,prod/1,1
12,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,2,0.0,NaN,C14_6/1,2,25,Bolga,Tin_1,prod/1,1
13,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,2,0.0,NaN,C14_7/1,2,25,Bolga,Tin_1,prod/1,1
14,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Bolga,C14_1/2,1,23,Bolga,Bucket_1,prod/1,1
15,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Navrongo,C14_2/2,1,23,Bolga,Bucket_1,prod/1,1
16,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Local,C14_3/2,1,23,Bolga,Bucket_1,prod/1,1
17,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Burkina Faso,C14_4/2,1,23,Bolga,Bucket_1,prod/1,1
18,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Ada,C14_5/2,1,23,Bolga,Bucket_1,prod/1,1
19,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Techiman,C14_6/2,1,23,Bolga,Bucket_1,prod/1,1
20,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Ashanti,C14_7/2,1,23,Bolga,Bucket_1,prod/1,1
21,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,4,0.0,NaN,C14_1/2,4,,NaN,Bucket_1,prod/1,1
22,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,4,1.0,Navrongo,C14_2/2,4,,NaN,Bucket_1,prod/1,1
23,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,4,0.0,NaN,C14_3/2,4,,NaN,Bucket_1,prod/1,1
24,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,4,0.0,NaN,C14_4/2,4,,NaN,Bucket_1,prod/1,1
25,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,4,0.0,NaN,C14_5/2,4,,NaN,Bucket_1,prod/1,1
26,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,4,0.0,NaN,C14_6/2,4,,NaN,Bucket_1,prod/1,1
27,7/15/2025,Eunice Quansah,1,1,2,1,They can't tell,Stable market price,4,,...,4,0.0,NaN,C14_7/2,4,,NaN,Bucket_1,prod/1,1
28,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Bolga,C14_1/3,1,88,Bolga,wooden_1,prod/1,1
29,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Navrongo,C14_2/3,1,88,Bolga,wooden_1,prod/1,1
30,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Local,C14_3/3,1,88,Bolga,wooden_1,prod/1,1
31,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Burkina Faso,C14_4/3,1,88,Bolga,wooden_1,prod/1,1
32,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Ada,C14_5/3,1,88,Bolga,wooden_1,prod/1,1
33,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Techiman,C14_6/3,1,88,Bolga,wooden_1,prod/1,1
34,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Ashanti,C14_7/3,1,88,Bolga,wooden_1,prod/1,1
35,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,8,0.0,NaN,C14_1/3,8,,NaN,wooden_1,prod/1,1
36,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,8,0.0,NaN,C14_2/3,8,,NaN,wooden_1,prod/1,1
37,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,8,1.0,Local,C14_3/3,8,,NaN,wooden_1,prod/1,1
38,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,8,0.0,NaN,C14_4/3,8,,NaN,wooden_1,prod/1,1
39,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,8,0.0,NaN,C14_5/3,8,,NaN,wooden_1,prod/1,1
40,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,8,0.0,NaN,C14_6/3,8,,NaN,wooden_1,prod/1,1
41,7/15/2025,Nafisa Osman,1,7,11,1,A lot of produce from the farmers,Stable market,8,,...,8,0.0,NaN,C14_7/3,8,,NaN,wooden_1,prod/1,1
42,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Bolga,C14_1/4,1,66,Bolga,basket_1,prod/1,1
43,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Navrongo,C14_2/4,1,66,Bolga,basket_1,prod/1,1
44,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Local,C14_3/4,1,66,Bolga,basket_1,prod/1,1
45,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Burkina Faso,C14_4/4,1,66,Bolga,basket_1,prod/1,1
46,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Ada,C14_5/4,1,66,Bolga,basket_1,prod/1,1
47,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Techiman,C14_6/4,1,66,Bolga,basket_1,prod/1,1
48,7/3/2025,Test,1,1,4,0,,Tygg,1,2,...,1,1.0,Ashanti,C14_7/4,1,66,Bolga,basket_1,prod/1,1
49,7/4/2025,Test 2,1,2,6,0,,Eehe,2,,...,2,0.0,Bolga,C14_1/4,2,,Bolga,basket_1,prod/1,1

In [ ]:
FinaldataMG.loc[FinaldataMG["School Name"]=="RAN-Ayigbe Town", "School_cat"]= 1